@model eShop.DataTransferObject.ResultDTO

<div class="row justify-content-center" style="margin-bottom:20px">
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div style="border-block-color:blue" class="card-header"><h3 class="text-center font-weight-light my-4">რეგისტრაცია</h3></div>
            <div class="alert alert-primary" role="alert">
                იმისთვის რომ დაამატოთ პროდუქტი კალათაში, გთხოვთ დარეგისტრირდეთ ან გაიაროთ ავტორიზაცია. 
            </div>
            <div class="card-body">
                <form action="/Auth/Register" method="post">
                    <div class="form-floating mb-3">
                        <input class="form-control" name="Email" id="inputEmail" type="email" placeholder="name@example.com" />
                        <label for="inputEmail">ელ. ფოსტა</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="FirstName" id="FirstName" type="text" placeholder="სახელი" />
                        <label for="inputEmail">სახელი</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="LastName" id="LastName" type="text" placeholder="გვარი" />
                        <label for="inputEmail">გვარი</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="PasswordHash" id="inputPassword" type="password" placeholder="პაროლი" />
                        <label for="inputPassword">პაროლი</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="PasswordHashRepeat" id="inputPassword" type="password" placeholder="პაროლი" />
                        <label for="inputPassword">გაიმეორეთ პაროლი</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <input type="submit" value="რეგისტრაცია" class="btn btn-primary">
                    </div>
                </form>
                <div>
                    @{ if (Model != null)
                        {
                            if (Model.IsError)
                            {
                                foreach (var message in Model.ErrorMessages)
                                {
                                    <h1 style="color:red">@message</h1> }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>