@model eShop.Web.Models.ShoppingCart
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccesor
    <script src="~/js/category.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">მთავარი</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="About">ჩვენს შესახებ</a></li>

                </ul>
                @{if (httpContextAccesor.HttpContext.Session.GetString("UserName") is not null)
                    {
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>&nbsp; @httpContextAccesor.HttpContext.Session.GetString("UserName")</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="UserInfo">პარამეტრები</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="LogOut">გამოსვლა</a></li>

                        </ul>
                    </li>
                </ul>
                &nbsp;&nbsp;
                <button class="btn btn-outline-dark" type="submit" asp-controller="Order" asp-action="InsideCart">
                    <i class="bi-cart-fill me-1"></i>
                    კალათა
                    <span class="badge bg-dark text-white ms-1 rounded-pill">@Model.NumberOfRecords</span>
                </button>
            </form> } }

                @{if (httpContextAccesor.HttpContext.Session.GetString("UserName") is null)
                    {
            <button id="editBtn" style="margin-bottom:5px;margin-left:10px; height:40px" class="btn btn-success btn-sm rounded-0 d-inline-block" type="button" data-placement="top" data-toggle="modal" data-target="#LoginModal" title="შესვლა"><span class="iconify" data-icon="bi:pencil"></span>შესვლა</button>
                <button type="submit" style="margin-bottom:5px;margin-left:10px; height:40px" class="btn btn-outline-primary btn-sm rounded-0 d-inline-block" ><a asp-controller="Auth" asp-action="Register">რეგისტრაცია</a></button>} }

                    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">შესვლა</h5>
                                </div>
                                <div class="modal-body">

                                    <form enctype="multipart/form-data" asp-controller="Auth" asp-action="Login" method="post">
                                        <div class="mb-3">
                                            <label for="Email" class="col-form-label fw-bold">მეილი</label>
                                            <input type="email" class="form-control" id="Email" name="Email" placeholder="example@gmail.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="Password" class="col-form-label fw-bolder">პაროლი</label>
                                            <input type="password" class="form-control" id="Password" name="Password" placeholder="********">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">გაუქმება</button>
                                            <input type="submit" class="btn btn-primary" value="შესვლა">
                                        </div>
                                    </form>
                                    <a href="Auth/Register">რეგისტრაცია</a>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark bg-cover py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">eShope</h1>
                <p class="lead fw-normal text-white-100 mb-0">გაჯეტების მაღაზია</p>
            </div>
        </div>
    </header>